.Item {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.itemCard:hover {
  background-color: rgba(0, 195, 255, 0.509);
}

.Item > img {
  width: 100%;
  height: auto;
}

h3 {
  margin-bottom: 4px;
}

.price {
  margin-bottom: 2em;
}

.fossilHeader {
  height: 45px;
}