@import "../../shared.scss";

.Item {
  width: 100%;
  text-align: center;
  color: $color-light;
}

.itemCard:hover {
  background-color: rgba(0, 195, 255, 0.509);
}

.Item > img {
  width: 100%;
  height: auto;
}

h3 {
  margin-bottom: $border-size;
}

.price {
  margin-bottom: $padding * 1.5;
}

.fossilHeader {
  height: $font-size * 3;
}