@import "../../shared.scss";

input[type=text] {
  width: 50%;
  padding: $padding * .8 $padding * 1.25;
  margin: $padding/ 2 0;
  box-sizing: border-box;
  border: $border-size solid #6a1901;
  background-color: rgba(106, 25, 1, 0.5);
  border-radius: $border-size;
  font-size: $font-size;
  position: relative;
  display: inline-block;
  text-align: left;
  caret-color: $color-light;
  color: $color-light;
}

input::placeholder {
  color: $color-light;
}

.fa-search {
    margin-right: $padding / 2;
    display: inline-block;
}

.search {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: $padding * 1.33;
}